# The DocPad Configuration File
# It is simply a CoffeeScript Object which is parsed by CSON
{
	# =================================
	# Template Data
	# These are variables that will be accessible via our templates
	# To access one of these within our templates, refer to the FAQ: https://github.com/bevry/docpad/wiki/FAQ

	templateData:

		# Specify the theme we are using
		# [sanaroo] (http://www.csstemplatesfree.org/sanaroo.html)
		theme: "sanaroo"

		# Specify some site properties
		site:
			# The production url of our website
			url: "http://george-osd-site.cloudfoundry.com"

			# The default title of our website
			title: "george-osd-site"

			# The website author's name
			author: "Takeharu.Oshida"

			# The website author's email
			email: "georgeosddev@gemail.com"

			# The website heading to be displayed on the page
			heading: '[George-Osd-Site]'

			# The website subheading to be displayed on the page
			subheading: """
				Hello World! Enjoy!
				"""

			# Footer
			# footnote: "This website was created with" + @links.bevry + "’s" + @links.docpad
			footnote: """
				This website was created with <a href='http://bevry.me' target='_blank' title='Visit Website'>Bevry</a>'s 
				<a href="https://github.com/bevry/docpad" target='_blank' title='Visit on GitHub'>DocPad</a>
				Powerd by <a href='http://nodejs.org/' target='_blank' title='Node.js'>Node.js</a>
				"""

			copyright: """
				copyright REPLACEYEARS &copy; <a href='http://about.me/takeharu.oshida' target='_blank' title='about me'>Takeharu.Oshida</a>
				"""

			# The website description (for SEO)
			description: """
				george-osd-site is just a personal online portfolio of <a href='http://about.me/takeharu.oshida' target='_blank' title='about me'>Takeharu.Oshida</a>.
				"""

			# The website keywords (for SEO) separated by commas
			keywords: """
				docpad,coffee-script,oshida.takeharu,george_osd,georgeOsd,blog,押田丈治,押田
				"""

			# The website analytics codes for various servers
			analytics:
				# ReInvigorate is a real-time analytics service
				reinvigorate: "" # instead of false, use your reinvigorate tracker id here

				# Google Analytics is the most popular analytics service
				google: "UA-15502477-6"  # instead of false, use your google analytics tracker id here

			# Specify some feed available for the visitors of our website
			feeds: [
					# This is the feed generated by our DocPad website
					# It contains all the posts, you can find the source file in src/documents/atom.xml.eco
					href: 'http://george-osd-site.cloudfoundry.com/atom.xml'
					name: 'Blog Posts'
				,
					# My Twitter Stream
					# Included here as an example that you can include feed from anywhere
					href: 'https://api.twitter.com/1/statuses/user_timeline.atom?screen_name=george_osd&count=20&include_entities=true&include_rts=true'
					name: 'george_osd Tweets'
			]

			# Do you have social accounts?
			# Mention them here and our layout will include them in the sidebar
			# If you specify a feed for the Feedr plugin (specified later on)
			# then we will pull in their feed data too for recognised services
			social: [
					text:		'twitter'
					title:	'twitter'
					href:		'https://twitter.com/george_osd'
				,
					text:		'github'
					title:	'github'
					href:		'https://github.com/georgeOsdDev'
				,
					text:		'500px'
					title:	'500px'
					href:		'http://500px.com/georgeOsd'
				,
					text:		'facebook'
					title:	'facebook'
					href:		'https://www.facebook.com/george.osd'
				,
					text:		'tumblr'
					title:	'tumblr'
					href:		'http://george-osd.tumblr.com/'
				,
					text:		'Booklog'
					title:	'Booklog'
					href:		'http://booklog.jp/users/georgeosd'
				,
					text:		'coderwall'
					title:	'coderwall'
					href:		'http://coderwall.com/georgeosddev'
			]

		# -----------------------------
		# Helper Functions

		# Get the site title
		# Often we would like to specify particular formatting to our page's title
		# we can apply that formatting here
		getSiteTitle: ->
			# if we have a document title, then we should use that and suffix the site's title onto it
			if @document.title
				"#{@document.title} | #{@site.title}"
			# if our document does not have it's own title, then we should just use the site's title
			else
				@site.title


	# =================================
	# Collections
	# These are special collections that our website makes available to us

	collections:
		# For instance, this one will fetch in all documents that have pageOrder set within their meta data
		navbar: (database) ->
			database.findAllLive({pageOrder:
														$exists: true
													navbar:
														$exists:true
														}
													,{
														pageOrder: 1
														})

		pages: (database) ->
			database.findAllLive({pageOrder: $exists: true}, {pageOrder: 1})

		# This one, will fetch in all documents that have the tag "post" specified in their meta data
		posts: (database) ->
			database.findAllLive(tags: $has: 'post')

		photos: (database) ->
			database.findAllLive(tags: $has: 'photo')

		products: (database) ->
			database.findAllLive(tags: 
														$has: 'product'
													pageOrder:
														$exists: true)

		travels: (database) ->
			database.findAllLive(tags: $has: 'travel')

}